.weather {
    display: block;
    margin-top: 40px;
}

.weather__content {
    display: block;
    background-color: rgb(230, 230, 230);
    width: 600px;
    margin: auto;
    padding: 20px;
}

.weather__sorts {
    display: flex;
    margin-bottom: 15px;
}

.weather__sort {
    display: flex;
    align-items: center;
    height: 36px;
    border: 2px solid rgb(117, 182, 117);
}

.weather__sort--city {
    position: relative;
    padding: 5px 20px 5px 20px;
    background-color: white;
    cursor: pointer;
}

.weather__sort--date {
    width: 250px;
}

.weather__sort__options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: #e6e6e6;
    padding: 0 5px 5px 5px;
    margin-left: -5px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    & p {
        display: block;
        margin-top: 2px;
        padding: 5px 20px 5px 20px;
        border: 1px solid rgb(140, 199, 140);
        background-color: white;
        &:hover {
            background-color: darken($color: white, $amount: 10%);
        }
    }
    &:nth-child(1) {
        padding-top: 2px;
    }
}

.weather__sort--date {
    margin-left: 20px;
    padding: 5px 20px 5px 20px;
    background-color: white;
}

.weather__city-title {
    text-align: center;
    margin-bottom: 5px;
    p {
        font-size: 40px;
        font-weight: 600;
    }
}

.weather__table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(140, 199, 140);
    border-top: 2px solid rgb(140, 199, 140);
    display: block;
    height: 600px;
    overflow-y: auto;
    thead {
        position: sticky;
        top: 0px;
    }

    tr:nth-child(1) td {
        border-top: none;
    }

    th {
        border-left: 1px solid rgb(140, 199, 140);
        border-right: 1px solid rgb(140, 199, 140);
        border-bottom: 2px solid rgb(140, 199, 140);

        background-color: white;
        padding: 5px;
        vertical-align: top;
        line-height: 17px;
    }
    td {

        border: 1px solid rgb(140, 199, 140);
        background-color: white;
        padding: 5px;
        text-align: center;

    }
}



.weather__table__cloudiness {
    width: 150px;
}

.show {
    height: auto;
    opacity: 1;
    overflow: visible;
    z-index: 7;
}